main { background-color: rgb(218, 200, 104);

}
span {color: rgb(255, 255, 255);
    font-family:cursive
    font-size : 18px; } 

h1 {
    color: rgb(14, 13, 13);
    text-align: center;


}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
h2 { text-align: center;}

figure {
    text-align: center;
}

